#server
server.port=8080

#database
spring.datasource.driverClassName=org.mariadb.jdbc.Driver
spring.datasource.url=jdbc:mariadb://localhost:3306/{db_name}
spring.datasource.username={user_name}
spring.datasource.password={password}
spring.jpa.hibernate.ddl-auto=update

#seed
spring.jpa.defer-datasource-initialization=true
spring.sql.init.mode=always
spring.sql.init.encoding=UTF-8
